.container{
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    height: 100vh;
   
}
.table{
    background-color:aquamarine;
    width: 400px;
    border-radius: 20px;
    padding: 30px 0px;
}
#class1{
    padding-bottom: 20px;
    
}
#box{
    height:40px;
    width:250px;
    border-radius: 10px;
}
#buttons{
    height: 40px;
    width:125px;
    border-radius: 8px;
}
